{% extends 'TDAdminBundle::layout.html.twig' %}


{% block body %}
<h1>Liste des Realisteur :</h1>
<ul>
    {% for personne in personnes %}
        <li>{{ personne.nom }} {{ personne.prenom }}</li>
</br> {{ personne.biographie }}
            <li><a href="{{  path('admin_personne_modif',{'id': personne.id} ) }}"> Modifier</a></li>
        <a href="{{ path('admin_personne_delete', {'id': personne.id}) }}">cliquez ici pour supprimer </a>

    {% endfor %}
</ul>
<a href="{{ path('admin_ajoutpersonne') }}">Ajouter

    {% endblock %}