{% extends 'TDCinemaBundle::layout.html.twig' %}



{%  block body  %}
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Cinéma</p>
            <div class="list-group">
                <a href="{{ path('films_all') }}" class="list-group-item active">Films</a>
                <a href="{{ path('personne_all') }}" class="list-group-item">Réalisateurs</a>
            </div>
        </div>


        <div class="col-md-9">

            <h2>Liste des films</h2>

            <br />

            {% for films in films %}


            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right">Science-Fiction</h4>
                    <h4><a href="{{ path('film_page', {'id' :films.id}) }}">  {{ films.titre }} </a></h4>
                    <p> {{ films.synopsis }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">{{ films.dateDeSortie|date('d,m,Y') }}</p>
                    <p>Réalisé par : <a href="cinema-films-realisateur.html">{{ films.personne.nom }}</a></p>
                </div>
            </div>

{%  endfor %}
        </div>

    </div>

</div>

{%  endblock  %}
